<p>Hallo ###username###, <br /> du bekommst diese Email um dein Account bei dev-storm.com freizuschlaten.<br />
Bitte klicke auf den Link unten um dies zu tuen.</p>
<!-- Spacing -->
<!-- button -->
<tr>
    <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;">
        <a href="###emailUrl###" style="color:#9ec459;text-decoration:none;font-weight:bold;">Email best&auml;igen</a>
    </td>
</tr>
<!-- /button -->
<!-- Spacing -->